<h3>Kérlek jelentkezz be!</h3>

<% if (error) { %>
<p class="error"><%= error %></p>
<% } %> 

<form id="userform" method="POST" action="/user/login" >
  <div class="container">

    <label for="email" class="item"> <span>Email cím:</span> </label>
    <input
      id="email"
      class="input"
      type="email"
      name="email"
      value="<%= userData.email %>"
      class="item"
      placeholder="nev@pelda.ro"
      pattern="([a-z0-9_]|\-|\.)+@(([a-z0-9_]|\-)+\.)+[a-z]{2,10}"
    >

    <label for="password" class="item"> <span>Jelszó:</span></label>
    <input
      id="password"
      class="input"
      type="password"
      name="password"
      value=""
      class="item"
      pattern=".{4,100}"
    >

    <label for="elkuld" class="item"> </label>
    <input id="elkuld" type="submit" class="item" name="submit" value="Elküld" >
    </div>
</form>
